<div class="right"><h1>overview</h1></div>
<div class="clr"></div>
<hr />


<div class="bi1">
	
<div class="rightcol">
	<h2 class="color-195963">docHive quick navigation</h2>
	<p>Use the home button to go home. Use the grid on the front page or the top right of every page to move around the process. Use the power button to log in and out.</p>
	
	<br />

	<h2 class="color-195963">isn't that just regular OCR</h2>
	<p>Regular optical character recognition (OCR) is part of it, but you can’t pull structured data by just running OCR on a page. DocHive breaks up the page into component image</p>
	
	<br />

	<h2 class="color-195963">What’s next?</h2>
	<p>We will soon have features to automatically detect templates for your forms. The current version only supports English, but the OCR engine works with another 20 languages and we will work to include those soon. </p>
	
</div>

<div class="leftcol">
	<h2 class="color-195963">what is DocHive</h2>
	<p>DocHive uses a template system to pull structured data from flat image files. Think of a scanned PDF of a government form, DocHive allows you to create a template and extract the data from that form into a spreadsheet.</p>
	
	<br />

	<h2 class="color-195963">How does it work?</h2>
	<p>DocHive uses ImageMagick to convert the PDF to a PNG and breaks it up based on your template. The program then uses Tesseract to OCR each of those little images, then it kicks it out in a CSV.</p>
	<br />

	<h2 class="color-195963">input sources</h2>
	<p>DocHive generally expects a PDF that is not machine-readable. DocHive can handle badly scanned PDFs, images that are slightly askew and fax-quality text.</p>
	
	<br />

	<h2 class="color-195963">output</h2>
	<p>After breaking up your file into smaller images and running OCR, DocHive reassembles the data into a CSV file based on the format you select when setting up the template. You can then take that output CSV and import it into the spreadsheet or database program of your choice—Excel, Access, SQL, a plain old text editor.</p>
</div>

<div class="clr"></div>

</div>

<br />	
<div class="clr"></div>
